html {
  scroll-behavior: smooth;
}


body{
  background-color: #363b4e;
}
.main{
  align-items: center;
  margin-left: 8vw;
  margin-right: 10px;
  font-family: "Handjet";
  font-weight: 700;
}
.sidebar {
  position: fixed;
  text-align: justify;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5.5vw;
  background-color: #e7eaf6;
  padding: 1vw;
  overflow-y: auto;
  z-index: 999;
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-size: 1vw;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin-bottom: 1vh;
}
.menu a {
  display: block;
  padding: 0.5vh;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}
.menu a:hover {
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #191414;
    background-color: #333;
    color: #fff;
}
/*####################################################*/
#en, #ru{
  -webkit-animation: blink-1 1s both;
  animation: blink-1 1s both;
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

#en, #ru, #enab, #ruab{
  display:block;
  margin: 0 auto;
  font-size: 120px;
  font-weight: 100;
}
#en, #enab, .header{
  color: #c4bbf0;
}
#ru, #ruab{
  color: #927fbf;
}
#enab, #ruab{
  text-align: center;
}


/*####################################################*/
.header{
  color: #e7eaf6;
  margin-bottom: -40px;
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-size: 70px;
  margin-right: -17px;
  margin-top: -70px;
  padding-left: 100px;
  margin-left: -100px;
  background: rgb(71, 78, 103);
}
